.boss-content
{
	float : left;
}
.boss-image-2
{
	height: 200px ;
	max-width: 200px ;
	padding: 5px ;
}
@media screen and (max-width: 600px) {
    .boss-image-2 {
       max-width: 125px ;
       height: 125px ;
    }
}
@media screen and (max-width: 380px) {
    .boss-image-2 {
       max-width: 100px ;
       height: 100px ;
    }
}
.boss-image
{
	max-width: 250px ;
	max-height: 250px ;
	float: left ;
}
.boss-info
{
	float: left ;
}
.boss-reqs
{
	float: left ;
}
.boss-info-panel
{
	float: left ;
	width : 30% ;
	text-align: inline ;
	height: 190px ;
	margin: 1.5% ;
	margin-top: 5% ;
	text-align: center ;
}
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}
a
{
	color: #636b6f ;
}
a:hover
{
	color: #636b6f ;
	text-decoration: none ;
}
.move-fix
{
	margin-left: 14% ;
}
.jssorb05 {
    position: absolute;
}
.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
    position: absolute;
    /* size of bullet elment */
    width: 16px;
    height: 16px;
    background: url('img/b05.png') no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb05 div { background-position: -7px -7px; }
.jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
.jssorb05 .av { background-position: -67px -7px; }
.jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }

.jssora22l, .jssora22r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 40px;
    height: 58px;
    cursor: pointer;
    background: url('img/a22.png') center center no-repeat;
    overflow: hidden;
}
.jssora22l { background-position: -10px -31px; }
.jssora22r { background-position: -70px -31px; }
.jssora22l:hover { background-position: -130px -31px; }
.jssora22r:hover { background-position: -190px -31px; }
.jssora22l.jssora22ldn { background-position: -250px -31px; }
.jssora22r.jssora22rdn { background-position: -310px -31px; }
.jssora22l.jssora22lds { background-position: -10px -31px; opacity: .3; pointer-events: none; }
.jssora22r.jssora22rds { background-position: -70px -31px; opacity: .3; pointer-events: none; }

@media screen and (min-width: 2380px) {
    .panel-size-fix {
       max-width: 1920px ;
    }
}